@import "tailwindcss/base";

@import url("https://fonts.googleapis.com/css?family=Muli");
@import "./base.css";

@import "tailwindcss/components";
@import "./components.css";

@import "tailwindcss/utilities";
@import "./utilities.css";
